/*!
 * Start Bootstrap - Shop Item (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

ul, ol {
	padding-left: 0;

}

ul li, ol li {
	display: block;
	
}

.list-nav-box li + li, .list-nav-box li + li {
	margin-top: 10px;
}

.scroll {
	height: 500px;
	overflow-x:hidden;
	overflow-y:auto;
}

.inline {
    display: inline-block;
}
.middle {
    vertical-align: middle;
}